@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindos ao iCook!</h1>

    <p>Uma comunidade que compartilha receitas práticas e rápidas.</p>
    <p>Encontre aqui as melhores ideias para aproveitar tudo o que você tem na geladeira!</p>
   
</div>
