@model app_web_backend.Models.Usuario

@{
    ViewData["Title"] = "Create";
}

<div class="wrapper fadeInDown">
    <div class="form-content">
        <!-- Tabs Titles -->

        <!-- Icone -->
        <div class="fadeIn first">
        </div>

        <!-- Login Form -->
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Nome" type="text" id="login" class="fadeIn second" name="Nome" placeholder="Nome">
            <span asp-validation-for="Nome" class="text-danger"></span>

            <input asp-for="Email" type="text" id="email" class="fadeIn second" name="Email" placeholder="E-mail">
            <span asp-validation-for="Email" class="text-danger"></span>

            <input asp-for="Senha" type="password" id="Senha" class="fadeIn third" name="Senha" placeholder="Senha">
            <span asp-validation-for="Senha" class="text-danger"></span>

            <input asp-for="ConfirmaSenha" type="password" id="ConfirmaSenha" class="fadeIn third" name="Confirmar Senha" placeholder="Confirmar Senha">
            <span asp-validation-for="ConfirmaSenha" class="text-danger"></span>

            <input type="submit" class="fadeIn fourth" value="Cadastrar-se">
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}