@model app_web_backend.Models.Usuario

@{
    ViewData["Title"] = "Login";
}

@section Styles {
    <link href="~/css/login.css" rel="stylesheet" />
}

<div class="wrapper fadeInDown">
    <div class="form-content">
        <!-- Tabs Titles -->

        <!-- Icone -->
        <div class="fadeIn first">
        </div>

        <!-- Login Form -->
        <form>
            <input asp-for="Email" type="text" id="login" class="fadeIn second" name="Usuário" placeholder="Usuário">
            <span asp-validation-for="Email" class="text-danger"></span>

            <input asp-for="Senha" type="text" id="Senha" class="fadeIn third" name="Usuário" placeholder="Senha">
            <span asp-validation-for="Senha" class="text-danger"></span>

            <input type="submit" class="fadeIn fourth" value="Log In">
            <!-- <a class="btn btn-info" asp-controller="Home" asp-action="Index">Voltar</a> -->
        </form>

        <!-- Remind Passowrd
        <div id="formFooter">
            <a class="underlineHover" href="esqueceuasenha2.html">Esqueceu a senha?</a>
            <p><a class="underlineHover" href="cadastre-se3.html">Cadastre-se</a></p>
        </div> -->

        <h3> @ViewBag.Message </h3>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
